{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>

    <head>
        <title>Vos pratiques personalisées</title>

        <!-- jquery -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/styles-user-display.css' %}">

        {{ answers|json_script:"answers" }}
        {{ practice_blacklist|json_script:"practice_blacklist" }}
        {{ type_blacklist|json_script:"type_blacklist" }}
        {{ suggestions|json_script:"suggestions" }}
    </head>

    <body>
        <h1>Récapitulatif des suggestions de pratiques alternatives</h1>
        <div id="content"></div>
        <script type="text/javascript" src="{% static 'js/app-user-display.js' %}"></script>
    </body>

</html>