{% load static %}
{% load tz %}
<!DOCTYPE html>
<html>

    <head>
        <title>Vos pratiques personalisées</title>

        <!-- jquery -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/styles-user-display.css' %}">

        {{ suggestions|json_script:"suggestions" }}

        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    </head>

    <body>
        <div class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" id="airtableModal">
            </div>
        <div id="controls">
            <div id="practices" class="header-left">
                <input id="practice1" class="practice-at-id" type="text" placeholder="ID de la pratique" />
                <input id="practice2" class="practice-at-id" type="text" placeholder="ID de la pratique" />
                <input id="practice3" class="practice-at-id" type="text" placeholder="ID de la pratique" /> 
                <button type="button" id="refresh-practices" class="btn btn-primary">↺</button>
            </div>
            <div class="header-right">
                <button type="button" id="airtable-refresh" class="btn btn-primary">↺ Airtable</button>
            </div>
        </div>

        <div id="send">
            <div><span class="controls-text">Prénom</span> <input id="first-name" type="text" placeholder="Baptiste" /></div>
                <div><span class="controls-text">Problème adressé</span> 
                <select id="problem">
                    <option value="désherbage">Désherbage</option>
                    <option value="ravageurs">Ravageurs</option>
                    <option value="maladies fongiques">Maladies fongiques</option>
                    <option value="réduction des produits phytosanitaires">Réduction de la consommation</option>
                    <option value="sortie du glyphosate">Sortir du glyphosate</option>
                </select>
                </div>
            <div>
                <span class="controls-text">Envoyer email à</span> <input id="email" type="text" placeholder="baptiste@help-me.com" /> <input type="button" id="send-email" value="Envoyer">
            </div>
        </div>

        <h1>Récapitulatif des suggestions de pratiques alternatives</h1>
        <div id="content"></div>
        <script type="text/javascript" src="{% static 'js/app-user-display.js' %}"></script>
    </body>

</html>