{% load static %}
{% load render_bundle from webpack_loader %}
{% load analytics %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Peps</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}"
    </script>
    <!-- Matomo -->
    {% analytics_cookie_domains as cookie_domains %}
    {% for domain in cookie_domains %}
    <script type="text/javascript">
        (window._paq || []).push(['setCookieDomain', '{{ domain }}']); 
    </script>
    {% endfor %}
    
    <script type="text/javascript">
        var _paq = window._paq || [];
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//stats.data.gouv.fr/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', "{% analytics_id %}"]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();

        window.sendPageView = function (route) {
            _paq.push(['setDocumentTitle', route.name]);
            _paq.push(['setCustomUrl', document.documentURI]);
            _paq.push(['trackPageView']);
        }

        window.sendTrackingEvent = function(category, action, name, value) {
            _paq.push(['trackEvent', category, action, name, value]);
        }
    </script>
    <!-- End Matomo Code -->
</head>

<body>
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app">
    </div>
    {% render_bundle 'app' %}
    <!-- built files will be auto injected -->
</body>

</html>