{% load static %}
{% load render_bundle from webpack_loader %}
{% load ga %}
<!DOCTYPE html>
<html lang="en">

<head>

    <script type="text/javascript" src="{% static '/tarteaucitron/tarteaucitron.js' %}"></script>

    <script type="text/javascript">
        tarteaucitron.init({
            "privacyUrl": "/#/politique-de-confidentialite", /* Privacy policy url */

            "hashtag": "#pepscookies", /* Open the panel with this hashtag */
            "cookieName": "pepscookies", /* Cookie name */

            "orientation": "bottom", /* Banner position (top - bottom) */
            "showAlertSmall": false, /* Show the small banner on bottom right */
            "cookieslist": true, /* Show the cookie list */

            "adblocker": false, /* Show a Warning if an adblocker is detected */
            "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
            "highPrivacy": false, /* Disable auto consent */
            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

            "removeCredit": false, /* Remove credit link */
            "moreInfoLink": true, /* Show more info link */
            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

            "readmoreLink": "/#/politique-de-confidentialite" /* Change the default readmore link */
        });
    </script>

    <script type="text/javascript">
        tarteaucitron.user.gtagUa = '{% ga_id %}';
        tarteaucitron.user.gtagMore = function () {
            window.dataLayer = window.dataLayer || [];
            window.gtag = function() { dataLayer.push(arguments); }
            gtag('js', new Date());
            window.sendPageView = function(route) {
                window.gtag('config', '{% ga_id %}', {
                    page_title: route.name,
                    page_path: route.path,
                    anonymize_ip: true
                })
            }
        };
        (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Peps</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}"
    </script>
</head>

<body>
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app">
    </div>
    {% render_bundle 'app' %}
    <!-- built files will be auto injected -->
</body>

</html>