<!doctype html>
<html lang="en" dir="ltr">
<head>
  <link href="https://tabler.github.io/tabler/assets/css/dashboard.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body style="background-color: #f2f2f2;">
  <div class="page">
    <div class="page-single">
      <div class="container">
        <div class="row">
          <div class="col col-login mx-auto">
              <div class="card-body p-2">
                <div class="card text-center p-4" style="background-color: white;">
                      <h1 style="color: #008763;">Un email vous a été envoyé pour vous connecter.</h1> 
                      <p>Pour vous connecter, cliquez sur le lien dans ce mail. Pour des raisons de sécurité, le lien est valable pendant 3 heures uniquement.</p>
                      <p>L’email peut mettre un peu de temps à arriver, vérifiez aussi vos spam.</p>
                      <p>Si vous ne le recevez pas, vous pouvez réessayer.</p>
                </div>
                <div class="text-center">
                  <a href="{% url 'magicauth-login' %}?next={{ next_view }}" style="color: #008763;" class="btn btn-secondary">Réessayer</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
